# Ignore video files
*.mkv
*.mp4

# Python cache and venv
__pycache__/
*.pyc
*.pyo
*.pyd
.env/
.venv/
venv/
ENV/
build/
dist/
.eggs/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db 